metadata-extractor/src/xml/epub.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by Nic Evans (Sytec Resources) -->
<!--DTD generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<!ELEMENT ABSOLUTE (#PCDATA)>
<!ELEMENT ABSOLUTEPATH (#PCDATA)>
<!ELEMENT AUTHOR (#PCDATA)>
<!ELEMENT CANONICALPATH (#PCDATA)>
<!ELEMENT CONTRIBUTOR (#PCDATA)>
<!ELEMENT COVER (ID, TITLE, ENCODING, HREF, SIZE, MEDIATYPE)>
<!ELEMENT DATE (#PCDATA)>
<!ELEMENT DATEPATTERN (#PCDATA)>
<!ELEMENT DESCRIPTION (#PCDATA)>
<!ELEMENT DIRECTORY (#PCDATA)>
<!ELEMENT ENCODING (#PCDATA)>
<!ELEMENT EPUB (COVER, EPUB-META, METADATA, MIMEREPORT, NCX, OPF, TABLEOFCONTENTS)>
<!ELEMENT EPUB-META (AUTHOR*, CONTRIBUTOR*, DATE*, DESCRIPTION*, FORMAT, IDENTIFIER*, LANGUAGE, PUBLISHER*, RIGHTS*, SUBJECT*, TITLE*, TYPE*)>
<!ELEMENT EXTENSION (#PCDATA)>
<!ELEMENT FID (#PCDATA)>
<!ELEMENT FILE (#PCDATA)>
<!ELEMENT FILELENGTH (#PCDATA)>
<!ELEMENT FILENAME (#PCDATA)>
<!ELEMENT FORMAT (#PCDATA)>
<!ELEMENT HIDDEN (#PCDATA)>
<!ELEMENT HREF (#PCDATA)>
<!ELEMENT ID (#PCDATA)>
<!ELEMENT IDENTIFIER (SCHEME, VALUE)>
<!ELEMENT LANGUAGE (#PCDATA)>
<!ELEMENT NCX (ID, TITLE, ENCODING, HREF, SIZE, MEDIATYPE)>
<!ELEMENT METADATA (ABSOLUTE, ABSOLUTEPATH, CANONICALPATH, DATE, DATEPATTERN, DIRECTORY, EXTENSION, FID, FILE, FILELENGTH, FILENAME, HIDDEN, MODIFIED, OID, PARENT, PATH, PID, PROCESSOR, READ, SEPARATOR, TIME, TIMEPATTERN, TYPE, URI, URL, WRITE)>
<!ELEMENT MEDIATYPE (#PCDATA)>
<!ELEMENT MIMEREPORT (#PCDATA)>
<!ELEMENT MODIFIED (#PCDATA)>
<!ELEMENT OID (#PCDATA)>
<!ELEMENT OPF (ID, TITLE, ENCODING, HREF, SIZE, MEDIATYPE)>
<!ELEMENT PARENT (#PCDATA)>
<!ELEMENT PATH (#PCDATA)>
<!ELEMENT PID (#PCDATA)>
<!ELEMENT PROCESSOR (#PCDATA)>
<!ELEMENT PUBLISHER (#PCDATA)>
<!ELEMENT READ (#PCDATA)>
<!ELEMENT REFERENCETITLE (#PCDATA)>
<!ELEMENT REFERENCE (ID, REFERENCETITLE, ENCODING, HREF, SIZE, MEDIATYPE)>
<!ELEMENT RIGHTS (#PCDATA)>
<!ELEMENT SEPARATOR (#PCDATA)>
<!ELEMENT SCHEME (#PCDATA)>
<!ELEMENT SIZE (#PCDATA)>
<!ELEMENT SUBJECT (#PCDATA)>
<!ELEMENT TABLEOFCONTENTS (SIZE, REFERENCE*)>
<!ELEMENT TIME (#PCDATA)>
<!ELEMENT TIMEPATTERN (#PCDATA)>
<!ELEMENT TITLE (#PCDATA)>
<!ELEMENT TYPE (#PCDATA)>
<!ELEMENT URI (#PCDATA)>
<!ELEMENT URL (#PCDATA)>
<!ELEMENT VALUE (#PCDATA)>
<!ELEMENT WRITE (#PCDATA)>
